*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container
{
    height: 100vh;
    background-color: black;
    padding: 0px 100px;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    
}
nav img{
    width: 50px;
}

header{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header .product-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header .product-info h1{
    text-transform: uppercase;
    font-size: 2.5rem;
}

header .product-info a{
    text-decoration: none;
    width: fit-content;
    background-color: white;
    padding: 8px 15px;
    color: black;
    border-radius: 20px;
    text-transform: capitalize;
}

.product-image{
    width: 50%;
    text-align: center;
}
.product-image img{
    width: 230px;
}

.icons{
    display: flex;
    
    justify-content: center;
    /* margin: 10px; */
}
.icons img{
    width: 50px;
    cursor: pointer;
}
